/* Load tailwindcss */
/* Note: root/postcss.config.js lists tailwind as a plugin */
/*
	https://youtu.be/L2nyKwrEY8w?t=155
	https://tailwindcss.com/course/setting-up-tailwind-and-postcss/
	https://medium.com/@davidteren/rails-6-and-tailwindcss-getting-started-42ba59e45393
 */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


body {
	font-family: 'Nunito', sans-serif;
}

.custom-control {
	line-height: 1.6rem;
	position: relative;
  display: block;
  min-height: 1.5rem;
  padding-left: 1.5rem;
}

.custom-checkbox .custom-control-label::before {
	border-radius: .25rem;

	transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	position: absolute;
	top: .25rem;
	left: -1.5rem;
	display: block;
	width: 1rem;
	height: 1rem;
	pointer-events: none;
	content: "";
	background-color: #fff;
	border: #adb5bd solid 1px;
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::before, .custom-control-input:checked ~ .custom-control-label::before {
	background-color: #6777ef !important;
}

.custom-control-input:focus~.custom-control-label::before {
	box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.custom-control-input:checked~.custom-control-label::before {
	color: #fff;
  border-color: #007bff;
  background-color: #007bff;
}

.custom-control-label::after {
	position: absolute;
  top: .25rem;
  left: -1.5rem;
  display: block;
  width: 1rem;
  height: 1rem;
  content: "";
  background: no-repeat 50%/50% 50%;
}